<div class="transfer-body">
    <form id="transfer-form" action="/create" method="POST">
        <div class="form-group">
            <label for="item-select-input">Item</label>
            <select class="form-control" id="item-select-input">
                <option value="item-1">Item 1</option>
                <option value="item-1">Item 2</option>
            </select>
        </div>
        <div class="form-group">
            <label for="item-select-input">Owner</label>
            <select class="form-control" id="owner-select-input">
                <option value="owner-1">Owner 1</option>
                <option value="owner-1">Owner 2</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>    